**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.key
id_rsa
id_ed25519